@import '~@alfresco/adf-content-services/theming';
@import '~@alfresco/adf-core/theming';

@import '~@angular/material/theming';

@include mat-core($alfresco-typography);

$primary: mat-palette($alfresco-accent-orange);
$accent:  mat-palette($alfresco-accent-purple);
$warn:    mat-palette($alfresco-warn);
$theme:   mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include adf-content-services-theme($theme);
@include adf-core-theme($theme);

$background: map-get($theme, background);

body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: mat-color($background, 'card');
    font-size: mat-font-size($alfresco-typography, body-1);
    font-family: mat-font-family($alfresco-typography);
    line-height: mat-line-height($alfresco-typography, body-1);
}

body {
    overflow: auto;
}
.cl
{
    color: red;
}

.mat-snack-bar-container
{
  background-color:#ff8800;
  
}
