<div class="container py-5">
    
    <div class="col-md-6 mx-auto">
        <div class="col-lg-4 order-lg-1 text-center">
            <img [src]="" class="mx-auto img-fluid img-circle d-block" alt="avatar">
            <h6 class="mt-2">Upload a different photo</h6>
            <label class="custom-file">
                <input type="file" id="file" (change)="onSelectedChange($event)" class="custom-file-input">
                <span class="custom-file-control">Choose file</span>
            </label>
        </div>
    </div>
    
    <div class="row">
       
        <div class="col-md-10 mx-auto">
            <form [formGroup]="UpdateForm">
              
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>First name:<span style="color:red;" class="required">*</span></label>
                        <input class="form-control" [(ngModel)]="firstName" formControlName="firstName" type="text"
                            required>
                        <div *ngIf="temp && o.firstName.errors ">
                            <span class="required" class="cl" *ngIf="o.firstName.errors?.required">This field is
                                required</span>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label>Last name:</label>
                        <input class="form-control" formControlName="lastName" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Job Title:</label>
                        <input class="form-control" formControlName="jobTitle" type="text">
                    </div>

                    <div class="col-sm-6">
                        <label>Location:</label>
                        <input class="form-control" formControlName="location" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                         <label>Google Username:</label>
                        <input class="form-control" formControlName="googleId" type="text">
                    
                    </div>

                    <div class="col-sm-6">
                        <label>Telephone:</label>
                        <input class="form-control" formControlName="telephone" type="text">
                        <div *ngIf="temp && o.telephone.errors ">
                            <span class="cl" *ngIf="o.telephone.errors.maxlength">maximum length is 10 digit</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    

                    <div class="col-sm-6">
                        <label>Email:<span class="required" class="cl">*</span></label>
                        <input class="form-control" formControlName="email" type="text" required>
                        <div *ngIf="temp && o.email.errors ">
                            <span class="required" class="cl" *ngIf="o.email.errors.required">This field is
                                required</span>
                            <span class="cl" *ngIf="o.email.errors.email">Email must be a valid email address</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>Mobile:</label>
                        <input class="form-control" formControlName="mobile" type="text">
                        <div *ngIf="temp && o.mobile.errors ">
                            <span class="cl" *ngIf="o.mobile.errors.maxlength">maximum length is 10 digit</span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Skype:</label>
                        <input class="form-control" formControlName="skypeId" type="text">
                    </div>

                    <div class="col-sm-6">
                        <label>IM:</label>
                        <input class="form-control" formControlName="instantMessageId" type="text">
                    </div>
                </div>
                <div class="form-group row">
                   
                    <div class="col-sm-6">
                        <label>Company Name:</label>
                        <input class="form-control" formControlName="organization" type="text">
                    </div>
                    <div class="col-sm-6">
                         <label>Summary:</label>
                        <textarea class="form-control" formControlName="description"></textarea>
                      
                       </div>

                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Company Email:</label>
                        <input class="form-control" formControlName="email2" type="text">
                        <div *ngIf="temp && o.email2.errors ">
                            <span class="cl" *ngIf="o.email2.errors.email">Email must be a valid email address</span>
                        </div>
                           </div>

                    <div class="col-sm-6">
                        <label>Company Post Code:</label>
                        <input class="form-control" formControlName="postcode" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label>Company Telephone:</label>
                        <input class="form-control" formControlName="telephone2" type="text">
                        <div *ngIf="temp && o.telephone2.errors ">
                            <span class="cl" *ngIf="o.telephone2.errors.maxlength">maximum length is 10 digit</span>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label>Company Fax:</label>
                        <input class="form-control" formControlName="fax" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">                       
                        <label>Company Address:</label>
                        <input class="form-control" formControlName="address1" type="text"><br>
                        <input class="form-control" formControlName="address2" type="text"><br>
                        <input class="form-control" formControlName="address3" type="text">
                
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">                       
                        <input type="reset" class="btn btn-secondary" value="Cancel">
                        <input type="submit" style="margin-left:20px;" class="btn btn-primary" (click)="onSubmit()" [disabled]="!firstName"
                            value="Update">
                    </div>
                    
                </div>
            </form>

            <!-- <div class="col-lg-4 order-lg-1 text-center">
            <img [src]="" class="mx-auto img-fluid img-circle d-block" alt="avatar">
            <h6 class="mt-2">Upload a different photo</h6>
            <label class="custom-file">
                <input type="file" id="file" (change)="onSelectedChange($event)" class="custom-file-input">
                <span class="custom-file-control">Choose file</span>
            </label>
        </div> -->
        </div>
    </div>
</div>